<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0g">

    {% include sidebar.html %}

<!--<div class="logo container">
       	     <a href="{{ site.baseurl }}/" title="Home"><img src="{{ site.baseurl }}/assets/adh-logo-3.jpg" width="500" alt="African Digital Humanities logo"></a>-->
           <!-- <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small> -->    
       
</div>
    <div class="content container">

      {{ content }}
    </div>

  </body>
</html>
